<div class="column text-center">
  <div class="event-photo mx-2 mb-2">
    <% delete_button = button_to bi_icon("trash"),
                                 event_photo_path(photo.event, photo),
                                 class: "btn btn-link",
                                 method: :delete,
                                 form: { data: { turbo_confirm: t("views.confirm.delete") }} %>
    <% title = "Добавил #{photo.user.name}" %>

    <% if current_user_can_edit?(photo) %>
      <% title << " #{delete_button}" %>
    <% end %>

    <%= link_to image_tag(photo.photo.variant(:thumb)), photo.photo.url, data: {
      lightbox: "event-gallery", title: title
    }%>
  </div>
</div>
